.home-section {
  width: calc(100% - 240px);
  position: relative;
  left: 240px;
  background-color: #f6f6f6;
  min-height: 100vh;
  transition: 0.5s;
}

.main-content {
  padding-top: 100px;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

@media (max-width: 1000px) {
  .home-section {
    width: 100%;
    left: 0;
  }

  .home-section .top-nav {
    width: 100%;
    left: 0;
  }
}
